﻿@model MerchantGuideToTheGalaxy.Web.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        @if (!string.IsNullOrEmpty(@Model.Errors))
        {
            <div class="text-danger text-center" style="background-color: pink; padding: 15px;margin: 15px;"> @Model.Errors</div>
        }
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Upload a file</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ProcessFile", "Home", null, FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
                {
                    <input style="display: inline-block;" class=" form-control" type="file" id="file" name="file" />
                    <button style="display: inline-block; margin-left: 10px;" class="btn btn-primary" type="submit">Submit File</button>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Type in some text</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Process", "Home", null, FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
                {
                    <textarea class="form-control" rows="20" style="width: 600px; margin-bottom: 10px;" type="text" id="content" name="content"></textarea>
                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Translation</h3>
            </div>
            <div class="panel-body">
                <textarea class="form-control" rows="20" style="width: 600px" type="text">
                    @Model.Result
                </textarea>
            </div>
        </div>
    </div>
</div>
